#-------------------------------------------------------------------------------#
#            Discover all capabilities of Qodana in our documentation           #
#             https://www.jetbrains.com/help/qodana/about-qodana.html           #
#-------------------------------------------------------------------------------#

name: Qodana
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2025.2
        with:
          # Analizza solo quello che serve
          pr-mode: false
          use-caches: true
          # Mostra i risultati direttamente nei check del commit su GitHub
          use-annotations: true
          # Crea un file scaricabile con i risultati se lo scan fallisce
          upload-result: true
          # Indica a Qodana dove si trova il progetto Java
          args: --project-dir,hackHub